// Blue
$very-light-blue: #e1f1ff;
$light-blue: #097aee;
$blue: #577ea2;
$dark-blue: #043c7c;
$very-dark-blue: #242c3c;

// Grey
$dark-grey: #585858;
$grey: #9b9b9b;
$light-grey: #d2d2d2;
$very-light-grey: #f5f5f5;

// Others
$red: #e55039;
$yellow: #f5cd79;
$purple: #786fa6;
